# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "e344725613ed202fe072a2bc75b6411d"
name = "demo-app"
handle = "demo-app-1299"
application_url = "https://lee-pills-referenced-plants.trycloudflare.com"
embedded = true

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://lee-pills-referenced-plants.trycloudflare.com/auth/callback",
  "https://lee-pills-referenced-plants.trycloudflare.com/auth/shopify/callback",
  "https://lee-pills-referenced-plants.trycloudflare.com/api/auth/callback"
]

[webhooks]
api_version = "2024-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[pos]
embedded = false

[build]
dev_store_url = "creat-product-demo.myshopify.com"
automatically_update_urls_on_dev = true
